 
$mainFont : 'Montserrat', sans-serif;
// Color Define

$primary: #00b8b7;
$second: #00455e;
$full-width : 100%;

$bg-primary: #6495ed;
$bg-white: #ffffff;

@mixin padding($values...) {    
	@each $var in $values {
		padding: #{$var};
	}
}
@mixin margin($values...) {    
	@each $var in $values {
		margin: #{$var};
	}
}
// Use @include padding(2px 4px 6px);

@mixin box-shadow($shadows) {
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}
@mixin transition($transition) {
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-o-transition:$transition;
	transition:$transition;
}
@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

$x-small : '(max-width: 320px)';
$small : '(max-width: 360px)';
$i-phone : '(max-width: 375px)';
$phone : '(max-width: 480px)';
$mid-phone : '(max-width: 575px)';
$large-phone : '(max-width: 640px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$tab-md: '(max-width: 991px)';
$mac: '(max-width: 1024px)';
$desktop: '(max-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
(-o-min-device-pixel-ratio: 3/2), 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi), 
(min-resolution: 1.5dppx)';

@mixin respond-to($media) {
	@media only screen and #{$media} {
		@content;
	}
}

@include respond-to($i-phone) {
	
}